.button {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .2rem;
  padding: .8rem;

  border: none;
  color: rgb(170, 170, 170);
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  transition: all .4s ease-in-out;

  font-weight: bold;
}

.disabled {
  opacity: .5;
}

.active {
  background: $secondary;
  color: $text;
}