.button {
  text-align: center;
  border: none;
  color: dimgrey;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  width: 4rem;
  height: 1.8rem;
  margin: .2rem;
  transition: all .4s ease-in-out;
}

.active {
  background: $secondary;
  color: $text;
}
