.button {
  text-align: center;
  border: none;
  color: dimgrey;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  width: 4rem;
  height: 1.8rem;
  margin: .2rem;
}
