.header {
  
  ul {
    padding: 0 2rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    li {
      display: flex;
      justify-content: center;
      align-items: centers;
      margin-bottom: .6rem;
      padding: .5rem;
      border-radius: 5px;
      transition: all .4s ease-in-out;

      span {
        cursor: pointer;
      }
    }

    .active {
      background-color: $border-color;
      border-radius: 50px;
    }

  }
}