$background: #1C2128;
$backgroundOpacity: #1c2128bb;
$backgroundLight: #22272E;
$backgroundLightOpacity: #22272e69;
$backgroundLightPlus: #252a30;
$backgroundLightPlusPlus: #354353;
$border-color: #444C56;
$main: wheat;
$secondary: rgb(127, 35, 219);
$text: white;


$box-shadow: -6px 8px 23px 0px rgba(0, 0, 0, 0.199);  
