.dweetForm {
  height: 100px;
  width: 100%;
  padding: 0.6rem;
  display: flex;
  justify-content: space-evenly;

  .input {
    height: 100%;
    width: 65%;
    align-self: flex-end;
  }

  .dweetButton {
    align-self: flex-end;
  }

  .noAccount {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .message {
      margin-bottom: 1rem;
      font-size: small;
    }
  }
}
