.dweetForm {
  height: 100px;
  width: 100%;
  padding: .6rem;
  display: flex;
  justify-content: space-evenly;

  .profile {
    height: 40px;
    width: 40px;
    background: wheat;
    border-radius: 50px;
    align-self: center;
  }

  Input {
    width: 62%;
  }
    
  Button {
    justify-self: flex-end;
    align-self: flex-end;
  }
}