.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text {
        text-align: left;
        padding: 2rem 0;

        .icon {
            font-size: x-large;
            cursor: grab;
        }
    }

}
