.layout {
  display: flex;
  justify-content: center;

  padding-top: 1rem;

  header {
    flex: 1;
  }

  main {
    flex: 2;
    max-width: 600px;
  }

  footer {
    flex: 1;
  }
}

/* RESPONSIVE */
@media screen and (max-width: 860px) {
  .layout {
    header {
      flex: 0.5;
    }

    footer {
      display: none;
    }
  }
}

@media screen and (max-width: 550px) {
  .layout {
    header {
      display: none;
    }
  }
}
